<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.product.ProductStatusMapper">

    <select id="findProductStatusByFacility" parameterType="string" resultType="map">
        SELECT ps.status_id, ps.product_id, ps.product_status, ps.updated_at,
        p.product_name,
        CASE
        WHEN ps.status_id LIKE '%Ind%' THEN 1
        ELSE p.stock
        END AS stock
        FROM product_status ps
        JOIN product p ON ps.product_id = p.product_id
        WHERE p.facility_id = #{facilityId}
    </select>

    <insert id="insertProductStatus" parameterType="com.green.smarty.vo.product.ProductStatusVO" useGeneratedKeys="true" keyProperty="status_id">
        INSERT INTO product_status (status_id, product_id, product_status, updated_at)
        VALUES (#{status_id}, #{product_id}, #{product_status}, CURRENT_TIMESTAMP)
    </insert>

    <select id="getAllProductStatuses" resultType="com.green.smarty.vo.product.ProductStatusVO">
        SELECT * FROM product_status;
    </select>

    <select id="selectStatusByProductId" parameterType="string" resultType="com.green.smarty.vo.product.ProductStatusVO">
        SELECT * FROM product_status WHERE product_id = #{product_id}
    </select>

    <update id="updateProductStatus" parameterType="map">
        UPDATE product_status
        SET product_status = #{product_status}, updated_at = CURRENT_TIMESTAMP
        WHERE status_id = #{status_id}
    </update>

    <update id="updateProductStock" parameterType="map">
        UPDATE product
        SET stock = #{stock}
        WHERE product_id = #{product_id}
    </update>

    <select id="findMaxSuffix" parameterType="string" resultType="int">
        SELECT COALESCE(MAX(CAST(SUBSTRING(status_id, LENGTH(#{baseId}) + 1) AS UNSIGNED)), 0)
        FROM product_status
        WHERE status_id LIKE CONCAT(#{baseId}, '%')
    </select>

    <select id="existsByStatusId" parameterType="string" resultType="boolean">
        SELECT COUNT(*) > 0 FROM product_status WHERE status_id = #{status_id}
    </select>


</mapper>
