<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.product.ProductStatusMapper">

    <insert id="insertProductStatus" parameterType="com.green.smarty.vo.product.ProductStatusVO"  useGeneratedKeys="true" keyProperty="status_id">
        INSERT INTO product_status (status_id, quantity_id, status)
        VALUES (#{statusId}, #{quantityId}, #{status})
    </insert>

    <select id="getAllProductStatuses" resultType="com.green.smarty.vo.product.ProductStatusVO">
        SELECT * FROM product_status;
    </select>

    <!-- 특정 상품 상태 조회 -->
    <select id="getProductStatus" parameterType="String" resultType="com.green.smarty.vo.product.ProductStatusVO">
        SELECT * FROM product_status WHERE quantity_id = #{quantity_id};
    </select>

    <!-- 상품 상태 업데이트 쿼리 -->
    <update id="updateProductStatus" parameterType="com.green.smarty.vo.product.ProductStatusVO">
        UPDATE product_status
        SET status = #{status}, updated_at = NOW()
        WHERE quantity_id = #{quantity_id};
    </update>

    <select id="getProductStatusByQuantityId" parameterType="String" resultType="com.green.smarty.vo.product.ProductStatusVO">
        SELECT * FROM product_status WHERE quantity_id = #{quantity_id};
    </select>

</mapper>
