<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.product.ProductStatusMapper">

    <select id="getAllProductStatuses" resultType="com.green.smarty.vo.product.ProductStatusVO">
        SELECT * FROM product_status_tbl;
    </select>

    <!-- 특정 상품 상태 조회 -->
    <select id="getProductStatus" parameterType="String" resultType="com.green.smarty.vo.product.ProductStatusVO">
        SELECT * FROM status_tbl WHERE product_id = #{productId};
    </select>

    <!-- 상품 상태 업데이트 쿼리 -->
    <update id="updateProductStatus" parameterType="com.green.smarty.vo.product.ProductStatusVO">
        UPDATE product_status_tbl
        SET status = #{status}, updated_at = NOW()
        WHERE product_id = #{productId};
    </update>

</mapper>
