<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.product.ProductAttachMapper">
    <!-- 첨부파일 등록 -->
    <insert id="insertProductAttach" parameterType="com.green.smarty.vo.product.ProductAttachVO">
        INSERT INTO product_attach (product_id, origin_path, thumbnail_path, file_name)
        VALUES (#{product_id}, #{origin_path}, #{thumbnail_path}, #{file_name})
    </insert>

    <!-- 특정 상품의 첨부파일 조회 -->
    <select id="selectAttachByProductId" resultType="com.green.smarty.vo.product.ProductAttachVO">
        SELECT * FROM product_attach WHERE product_id = #{productId}
    </select>
</mapper>