<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.product.QuantityMapper">

    <insert id="register" parameterType="com.green.smarty.vo.product.QuantityVO" useGeneratedKeys="true" keyProperty="quantity_id">
        insert into quantity_tbl (quantity_id, product_id, size_id, stock)
        values (#{quantity_id}, #{product_id}, #{size_id}, #{stock})
    </insert>

    <select id="getAllQuantities" resultType="com.green.smarty.vo.product.QuantityVO">
        SELECT * FROM quantity_tbl
    </select>

    <select id="getQuantitiesByProductId" parameterType="string" resultType="com.green.smarty.vo.product.QuantityVO">
        SELECT * FROM quantity_tbl WHERE product_id = #{productId}
    </select>

    <!-- 재고량 직접 설정 쿼리 -->
    <update id="setStock" parameterType="map">
        UPDATE quantity_tbl
        SET stock = #{stock}
        WHERE quantity_id = #{quantity_id};
    </update>

    <!-- 재고량 업데이트 쿼리: 추가/감소 -->
    <update id="updateStock" parameterType="map">
        UPDATE quantity_tbl
        SET stock =
        IF(#{operation_type} = 'ADD', stock + #{quantity}, stock - #{quantity})
        WHERE quantity_id = #{quantity_id}
        AND (#{operation_type} = 'ADD' OR (#{operation_type} = 'SUBTRACT' AND stock >= #{quantity}));
    </update>

    <select id="getTotalStockForAllProducts" resultType="com.green.smarty.vo.product.QuantityVO">
        SELECT product_id, SUM(stock) AS total_stock
        FROM quantity_tbl
        GROUP BY product_id;
    </select>

    <select id="getDetailsByProductId" parameterType="string" resultType="com.green.smarty.vo.product.QuantityVO">
        SELECT * FROM quantity_tbl
        WHERE product_id = #{productId};
    </select>

    <select id="getDetailsWithSizeByProductId" parameterType="string" resultType="map">
        SELECT q.quantity_id, q.product_id, q.stock, q.size_id, s.cloth_size, s.shoe_size
        FROM quantity_tbl q
        LEFT JOIN size_tbl s ON q.size_id = s.size_id
        WHERE q.product_id = #{productId};
    </select>

</mapper>