<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.product.SizeMapper">

    <insert id="register" parameterType="com.green.smarty.vo.product.SizeVO" useGeneratedKeys="true" keyProperty="size_id">
        insert into size (size_id, cloth_size, shoe_size, product_id)
        values (#{size_id}, #{cloth_size}, #{shoe_size}, #{product_id})
    </insert>

    <select id="getSizesByProductId" parameterType="string" resultType="com.green.smarty.vo.product.SizeVO">
        SELECT *
        FROM size
        WHERE product_id = #{productId}
    </select>

</mapper>