<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.user.UserMapper">

    <insert id="register" parameterType="com.green.smarty.vo.user.UserVO" useGeneratedKeys="true" keyProperty="user_id">
        insert into user_tbl (user_id, user_name, email, password, phone, address, birthday, join_date, login_date, user_status, level)
        values (#{user_id}, #{user_name}, #{email}, #{password}, #{phone}, #{address}, #{birthday}, #{join_date}, #{login_date}, #{user_status}, #{level})
    </insert>

    <update id="modify" parameterType="com.green.smarty.vo.user.UserVO">
        update user_tbl set email=#{email}, password=#{password}, phone=#{phone}, address=#{address} where user_id=#{user_id}
    </update>
    
    <delete id="removeUser" parameterType="com.green.smarty.vo.user.UserVO">
        delete from user_tbl where user_id=#{user_id}
    </delete>

    <select id="getAllUsers" resultType="com.green.smarty.vo.user.UserVO" parameterType="String">
        SELECT * FROM user_tbl
    </select>

    <!-- login_date 필드를 특정 user_id 기준으로 업데이트 -->
    <update id="updateLoginDate">
        UPDATE user_tbl
        SET login_date = #{loginDate}
        WHERE user_id = #{userId}
    </update>

    <!-- login_date가 현재 날짜 기준으로 3개월 이상인 유저 user_status 업데이트-->
    <update id="updateUserStatusByLoginDate">
        UPDATE user_tbl
        SET user_status = CASE
        WHEN DATEDIFF(CURDATE(), login_date) >= 90 THEN false
        ELSE true
        END
    </update>

    <!-- 휴면 유저들 검색-->
    <select id="findInactiveUsers" resultType="com.green.smarty.vo.user.UserVO">
        SELECT *
        FROM user_tbl
        WHERE user_status = false;
    </select>

    <!-- 유저ID로 검색하여 휴면 여부 검색 -->
    <select id="findUserById" parameterType="String" resultType="com.green.smarty.vo.user.UserVO">
        SELECT *
        FROM user_tbl
        WHERE user_id = #{userId}
    </select>

    <!-- 상태 업데이트 -->
    <update id="updateUserStatus">
        UPDATE user_tbl
        SET user_status = #{userStatus}
        WHERE user_id = #{userId}
    </update>

</mapper>