.classStatus {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.classStatusTitle{
    width: 90%;
    height: 10%;
    font-size: 22px;
    font-weight: 300;
    color: #011B2F;
}
.attendanceTable {
    width: 60%;
    height: 90%;
}