<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.RentalMapper">

    <insert id="register" parameterType="com.green.smarty.vo.RentalVO" useGeneratedKeys="true" keyProperty="rental_id">
        insert into rental_tbl (rental_id, user_id, quantity_id, rental_date, return_date)
        values (#{rental_id}, #{user_id}, #{quantity_id}, #{rental_date}, #{return_date})
    </insert>

    <select id="getAllRentals" resultType="com.green.smarty.vo.RentalVO">
        select * from rental_tbl
    </select>

    <select id="getProductRentalStatus" resultType="com.green.smarty.vo.RentalVO">
        SELECT r.rental_id, r.user_id, r.quantity_id, r.rental_date, r.return_date
        FROM rental_tbl r
        JOIN facility_tbl f ON r.facility_id = f.facility_id
        WHERE r.facility_id = #{facilityId}
        AND DATE(r.rental_date) = #{date}
    </select>

    <select id="getRentalsByUserId" resultType="map">
        SELECT rt.rental_id,
        p.product_name,
        s.cloth_size,
        s.shoe_size,
        rt.rental_date,
        rt.return_date,
        f.facility_name,
        CASE
        WHEN NOW() &gt; rt.return_date THEN '만료'
        WHEN NOW() BETWEEN rt.rental_date AND rt.return_date THEN '이용중'
        ELSE '대기중'
        END AS status,
        CASE
        WHEN NOW() &gt; rt.return_date THEN '만료'
        WHEN NOW() &lt; rt.rental_date THEN
        CONCAT(
        TIMESTAMPDIFF(HOUR, NOW(), rt.rental_date), '시간 ',
        MOD(TIMESTAMPDIFF(MINUTE, NOW(), rt.rental_date), 60), '분'
        )
        ELSE
        CONCAT(
        TIMESTAMPDIFF(HOUR, NOW(), rt.return_date), '시간 ',
        MOD(TIMESTAMPDIFF(MINUTE, NOW(), rt.return_date), 60), '분'
        )
        END AS remainingTime
        FROM rental_tbl rt
        JOIN quantity_tbl q ON rt.quantity_id = q.quantity_id
        LEFT JOIN size_tbl s ON q.size_id = s.size_id
        JOIN product_tbl p ON q.product_id = p.product_id
        JOIN facility_tbl f ON p.facility_id = f.facility_id
        WHERE rt.user_id = #{userId}
    </select>

</mapper>