<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.ReservationMapper">

    <insert id="register" parameterType="com.green.smarty.vo.ReservationVO" useGeneratedKeys="true" keyProperty="reservation_id">
        insert into reservation_tbl (reservation_id,user_id,court_id, reservation_start, reservation_end)
        values (#{reservation_id}, #{user_id}, #{court_id} ,#{reservation_start}, #{reservation_end})
    </insert>

    <select id="getReservationsByCourtIdAndTime" resultType="com.green.smarty.vo.ReservationVO" parameterType="map">
        SELECT *
        FROM reservation_tbl
        WHERE court_id = #{court_id}
        AND reservation_start &lt; #{end,jdbcType=TIMESTAMP}  <!-- '<' 연산자를 &lt;로 대체 -->
        AND reservation_end &gt; #{start,jdbcType=TIMESTAMP}  <!-- '>' 연산자를 &gt;로 대체 -->
        AND DATE(reservation_start) = DATE(#{start,jdbcType=TIMESTAMP})
    </select>

    <select id="getReservationsByUserId" resultType="map">
        SELECT r.reservation_id,
        r.court_id,
        r.reservation_start,
        r.reservation_end,
        c.court_name,
        f.facility_name,
        CASE
        WHEN NOW() &gt; r.reservation_end THEN '만료'
        WHEN NOW() BETWEEN r.reservation_start AND r.reservation_end THEN '이용중'
        ELSE '대기중'
        END AS status,
        CASE
        WHEN NOW() &lt; r.reservation_end THEN '만료'
        WHEN NOW() &gt; r.reservation_start THEN
                     CONCAT(
        TIMESTAMPDIFF(HOUR, NOW(), r.reservation_start), '시간 ',
        MOD(TIMESTAMPDIFF(MINUTE, NOW(), r.reservation_start), 60), '분'
        )
        ELSE
        CONCAT(
        TIMESTAMPDIFF(HOUR, NOW(), r.reservation_end), '시간 ',
        MOD(TIMESTAMPDIFF(MINUTE, NOW(), r.reservation_end), 60), '분'
        )
        END AS remainingTime
        FROM reservation_tbl r
        JOIN court_tbl c ON r.court_id = c.court_id
        JOIN facility_tbl f ON c.facility_id = f.facility_id
        WHERE r.user_id = #{userId}
    </select>
</mapper>