.classContainer {
    margin: 20px;
}
.classContainerTop {
    display: flex;
    gap: 30px;
    align-items: center;
}

.classTitle {
    font-size: 30px;
    color: #011B2F;
}

.classAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #011b2f;
    color: aliceblue;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.classAction {
    display: flex;
    align-items: center;
}

.classReadButton {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #011b2f;
    color: aliceblue;
    cursor: pointer;
    margin-right: 10px;
}