<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.AttachFileMapper">

    <insert id="insert">
        INSERT INTO attach_file (uuid, upload_path, file_name, image, product_id)
        VALUES (#{uuid}, #{uploadPath}, #{fileName}, #{image}, #{product_id})
    </insert>

    <select id="findByProductId" parameterType="long" resultType="AttachFileDTO">
        SELECT
            uuid,
            upload_path as uploadPath,
            file_name as fileName,
            image,
            product_id
        FROM
            attach_file
        WHERE
            product_id = #{value}
    </select>

    <delete id="deleteByProductId" parameterType="long">
        DELETE FROM attach_file
        WHERE product_id = #{value}
    </delete>

</mapper>