<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.ClassMapper">

    <select id="countClassOverlap" resultType="int">
        SELECT COUNT(*)
        FROM class
        WHERE facility_id = #{facilityId}
        AND class_name = #{className}
        AND day = #{day}
        AND #{endTime} > start_time
        AND end_time > #{startTime}
    </select>

    <insert id="register" parameterType="com.green.smarty.vo.ClassVO" useGeneratedKeys="true" keyProperty="class_id">
        insert into class(class_id, facility_id, class_name, start_date, end_date, day, start_time, end_time,price)
        values (#{class_id}, #{facility_id}, #{class_name}, #{start_date}, #{end_date}, #{day}, #{start_time}, #{end_time},#{price})
    </insert>

    <select id="getAllClasses" resultType="com.green.smarty.vo.ClassVO" parameterType="String">
        SELECT * FROM class
    </select>

</mapper>