<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.EnrollmentMapper">

    <insert id="register" parameterType="com.green.smarty.vo.EnrollmentVO" useGeneratedKeys="true" keyProperty="enrollment_id">
        insert into enrollment(enrollment_id, user_id, class_id)
        values (#{enrollment_id}, #{user_id}, #{class_id})
    </insert>

    <select id="getEnrollmentsByUserId" resultType="com.green.smarty.vo.EnrollmentVO">
        SELECT e.enrollment_id, c.class_name, c.start_date, c.end_date, c.day,
        c.start_time, c.end_time, f.facility_name
        FROM enrollment e
        JOIN class c ON e.class_id = c.class_id
        JOIN facility f ON c.facility_id = f.facility_id
        WHERE e.user_id = #{userId}
    </select>

</mapper>