<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.LoginHistoryMapper">


    <insert id="insertOrUpdateSentHumanMessageByUserId" parameterType="String">
        INSERT INTO login_history (user_id, sent_human_message, login_time, login_status)
        VALUES (#{user_id}, FALSE, NOW(), )
        ON DUPLICATE KEY UPDATE
        sent_human_message = FALSE;
    </insert>


    <insert id="upsertSentHumanMessageBasedOnUser" parameterType="String">
        INSERT INTO login_history (user_id, sent_human_message)
        SELECT u.user_id, 0
        FROM user u
        WHERE DATE_SUB(DATE_ADD(u.login_date, INTERVAL 3 MONTH), INTERVAL 7 DAY) = CURDATE()
        ON DUPLICATE KEY UPDATE
        sent_human_message = 0;
    </insert>

</mapper>