<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.PaymentMapper">
    <!--    게시글 작성-->
    <insert id="insertPayment" parameterType="com.green.smarty.vo.PaymentVO">
        INSERT INTO payment (
            payment_id,
            reservation_id,
            enrollment_id,
            amount,
            payment_date,
            payment_status
        )
        VALUES (
            #{payment_id},
            #{reservation_id},
            #{enrollment_id},
            #{amount},
            #{payment_date},
            #{payment_status}
        )
    </insert>

    <select id="getPaymentById" resultType="com.green.smarty.vo.PaymentVO">
        SELECT * FROM
            payment
        WHERE
            payment_id = #{payment_id}
    </select>

    <!-- enrollment -->
    <select id="getEnrollmentClass" resultType="com.green.smarty.dto.EnrollmentClassDTO">
        select * from enrollment e join class c using(class_id)
    </select>
    <update id="updateEnroll" parameterType="string">
        update enrollment set enrollment_status ='승인대기' where enrollment_id = #{enrollment_id}
    </update>

<!--    (영준) -->
    <select id="getUserIdByPaymentId" parameterType="String" resultType="String">
        SELECT
        r.user_id
        FROM
        payment p
        JOIN
        rental r
        ON
        p.rental_id = r.rental_id
        WHERE
        p.payment_id = #{payment_id}
    </select>
    <select id="getClassNameByPaymentId" parameterType="String" resultType="String">
        SELECT
        c.class_name
        FROM
        payment p
        JOIN
        reservation r
        ON
        p.reservation_id = r.reservation_id
        JOIN
        class c
        ON
        r.court_id = c.facility_id
        WHERE
        p.payment_id = #{payment_id}
    </select>
    <select id="getEmailByPaymentId" parameterType="String" resultType="String">
        SELECT
        u.email
        FROM
        payment p
        JOIN
        rental r
        ON
        p.rental_id = r.rental_id
        JOIN
        user u
        ON
        r.user_id = u.user_id
        WHERE
        p.payment_id = #{payment_id}
    </select>

</mapper>