<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.PaymentMapper">
    <!--    게시글 작성-->
    <insert id="insertPayment">
        INSERT INTO payment (
            payment_id,
            reservation_id,
            enrollment_id,
            rental_id,
            amount,
            payment_date
        )
        VALUES (
            #{paymentId},
            #{reservationId},
            #{enrollmentId},
            #{rentalId},
            #{amount},
            NOW()
        )
    </insert>

    <update id="updatePaymentStatus">
        UPDATE
            payment
        SET
            status = #{status}
        WHERE
            payment_id = #{payment_id}
    </update>

    <select id="getPaymentById" resultType="com.green.smarty.vo.PaymentVO">
        SELECT * FROM
            payment
        WHERE
            payment_id = #{payment_id}
    </select>


</mapper>