<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.ProductMapper">
    <!--sql 구문을 써서 db에서 불러온다-->
    <resultMap id="ProductMap" type="com.green.smarty.vo.ProductVO">
        <id property="product_id" column="product_id"/>
        <result property="facility_id" column="facility_id"/>
        <result property="product_name" column="product_name"/>
        <result property="price" column="price"/>
        <result property="facility_name" column="facility_name"/>
        <collection property="attachFiles" ofType="com.green.smarty.vo.AttachFileDTO">
            <result property="uuid" column="uuid"/>
            <result property="uploadPath" column="upload_path"/>
            <result property="fileName" column="file_name"/>
            <result property="image" column="image"/>
        </collection>
    </resultMap>

    <insert id="register" parameterType="com.green.smarty.vo.ProductVO" useGeneratedKeys="true" keyProperty="product_id">
        INSERT INTO product_tbl (
            facility_id,
            product_name,
            price,
            facility_name
        )
        SELECT
            #{facility_id},
            #{product_name},
            #{price},
            f.facility_name
        FROM
            facility_tbl f
        WHERE
            f.facility_id = #{facility_id}

    </insert>

    <select id="getAllProducts" resultMap="ProductMap">
        SELECT
            p.*,
            f.facility_name,
            a.uuid,
            a.upload_path,
            a.file_name,
            a.image
        FROM
            product_tbl p
        LEFT JOIN
            facility_tbl f
        ON
            p.facility_id = f.facility_id
        LEFT JOIN
            attach_file a
        ON
            p.product_id = a.product_id
        ORDER BY
            p.product_id DESC
    </select>

    <delete id="deleteProduct">
        DELETE FROM product_tbl WHERE product_id = #{productId}
    </delete>

    <update id="updateProduct" parameterType="com.green.smarty.vo.ProductVO">
        UPDATE
            product_tbl
        SET
            product_name = #{product_name},
            price = #{price},
            facility_id = #{facility_id}
        WHERE
            product_id = #{product_id}
    </update>

    <select id="getProductById" resultMap="ProductMap">
        SELECT
            p.*,
            f.facility_name,
            a.uuid,
            a.upload_path,
            a.file_name,
            a.image
        FROM
            product_tbl p
        LEFT JOIN
            facility_tbl f
        ON
            p.facility_id = f.facility_id
        LEFT JOIN
            attach_file a
        ON
            p.product_id = a.product_id
        WHERE
            p.product_id = #{product_id}
    </select>


</mapper>