<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.RentalMapper">
    <resultMap id="RentalDetailMap" type="com.green.smarty.vo.RentalVO">
        <id property="rental_id" column="rental_id"/>
        <result property="user_id" column="user_id"/>
        <result property="product_id" column="product_id"/>
        <result property="product_name" column="product_name"/>
        <result property="rental_date" column="rental_date"/>
        <result property="return_date" column="return_date"/>
        <collection property="attachFiles" ofType="com.green.smarty.vo.AttachFileDTO">
            <result property="uuid" column="uuid"/>
            <result property="fileName" column="file_name"/>
            <result property="uploadPath" column="upload_path"/>
        </collection>
    </resultMap>
    <!--sql 구문을 써서 db에서 불러온다-->
    <insert id="register" parameterType="com.green.smarty.vo.RentalVO">
        INSERT INTO rental_tbl (user_id, product_id, rental_date, return_date)
        VALUES(#{user_id}, #{product_id}, #{rental_date}, #{return_date})
    </insert>

    <update id="returnRental" parameterType="Long">
        UPDATE
            rental_tbl
        SET
            return_date = NOW()
        WHERE
            rental_id = #{rental_id}
    </update>

    <select id="findUserId" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM user_tbl WHERE user_id = #{user_id}
    </select>

    <select id="findProductId" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM product_tbl WHERE product_id = #{product_id}
    </select>

    <update id="updateRental" parameterType="com.green.smarty.vo.RentalVO">
        UPDATE
            rental_tbl
        SET
            user_id = #{user_id},
            product_id = #{product_id},
            rental_date = #{rental_date},
            return_date = #{return_date}
        WHERE
            rental_id = #{rental_id}
    </update>

    <select id="getAllRentals" resultType="com.green.smarty.vo.RentalVO">
        SELECT
            rental_tbl.rental_id,
            rental_tbl.user_id,
            rental_tbl.product_id,
            product_tbl.product_name,
            rental_tbl.rental_date,
            rental_tbl.return_date
        FROM
            rental_tbl
        JOIN
            product_tbl
        ON
            rental_tbl.product_id = product_tbl.product_id
        ORDER BY
            rental_tbl.rental_date DESC
    </select>

    <select id="getRentalById" resultMap="RentalDetailMap">
        SELECT
            r.rental_id,
            r.user_id,
            r.product_id,
            p.product_name,
            r.rental_date,
            r.return_date,
            af.uuid,
            af.file_name,
            af.upload_path
        FROM
            rental_tbl r
        JOIN
            product_tbl p
        ON
            r.product_id = p.product_id
        LEFT JOIN
            attach_file af
        ON
            p.product_id = af.product_id
        WHERE
            r.rental_id = #{rental_id}
    </select>
</mapper>