<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smarty.mapper.UserMapper">
<!--sql 구문을 써서 db에서 불러온다-->
    <insert id="register" parameterType="com.green.smarty.vo.UserVO">
        INSERT INTO user_tbl (user_name, email, password, phone, address, birthday, level)
            VALUES(#{user_name}, #{email}, #{password}, #{phone}, #{address}, #{birthday}, #{level})
    </insert>

    <select id="getAllUsers" resultType="com.green.smarty.vo.UserVO">
        SELECT * FROM user_tbl
    </select>

    <select id="getUserByName" parameterType="String" resultType="com.green.smarty.vo.UserVO">
        SELECT
            user_id,
            user_name,
            email,
            password,
            phone,
            address,
            birthday,
            level
        FROM
            user_tbl
        WHERE
            user_name = #{user_name}
    </select>

    <select id="getUserById" resultType="com.green.smarty.vo.UserVO">
        SELECT
            user_id,
            user_name,
            email
        FROM
            user_tbl
        WHERE
            user_id = #{user_id}
    </select>

</mapper>
