.facilityList {
    flex: 7;
}

.facilityTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px;
}

.facilityAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}