.App {
  text-align: center;
}

* {
  list-style-type: none;
  text-decoration-line: none;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-move {
  width: 70%;
}

@keyframes moveVertical {
  0% {
    transform: translateY(50px);
    /* 아래쪽으로 이동 */
  }

  100% {
    transform: translateY(0px);
    /* 원래 위치로 돌아옴 */
  }
}

.banner-img {
  animation: moveVertical 4s infinite alternate;
  width: 100%;
  /* 이미지 너비를 100%로 설정 */
}


@font-face {
  font-family: 'Paperlogy-4Regular';
  src: url('./fonts/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-7Bold';
  src: url('./fonts/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-6SemiBold';
  src: url('./fonts/Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Paperlogy-4Regular', 'Paperlogy-8ExtraBold', 'Paperlogy-7Bold', 'Paperlogy-6SemiBold', sans-serif;
  font-weight: normal;
}

h1 {
  font-family: 'Paperlogy-8ExtraBold';
  font-weight: 800;
}

h2 {
  font-family: 'Paperlogy-7Bold';
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-family: 'Paperlogy-6SemiBold';
  font-weight: 600;
}


p {
  font-family: 'Paperlogy-4Regular';
  font-weight: 400;
}


.link {
  text-decoration: none;
  color: inherit;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
}


@keyframes scaleUpDown {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}