.newClass {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.addClassTitle {
    flex: 1;
    font-size: 24px;
    color: #011B2F;
    font-weight: 500;
}

.addClassContainer {
    flex: 10;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.addClassForm {
    flex: 1;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0px 0px 3px 0px rgba(191,189,189,0.7);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(191,189,189,0.7);
    -moz-box-shadow: 0px 0px 3px 0px rgba(191,189,189,0.7);
}