.newClassContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.addClassFormHead {
    height: 10%;
    display: flex;
}

.addClassTitle {
    font-size: 26px;
    font-weight: bold;
    color: #105066;
    margin-right: 1rem;
}

.submitClassButton {
    width: 80px;
    height: 25px;
    border: none;
    background-color: #003f66;
    color: aliceblue;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 10px;
}
.addClassButton,
.cancleClassButton {
    color: #919191;
    font-size: 30px !important;
    cursor: pointer;
}

.cancleClassButton {
    margin-left: 65px;
}

.addClassFormBody {
    height: 90%;
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addClassForm {
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #cecdcd;
    padding: 0 10px;
}

.addClassFormItem1,
.addClassFormItem2,
.addClassFormItem3,
.addClassFormItem4 {
    flex: 1;
    display: flex;
    align-items: center;
}

.addClassFormItem1>input,
.addClassFormItem2>input,
.addClassFormItem3>input {
    width: 120px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
}

.addClassFormItem1>div,
.addClassFormItem2>div,
.addClassFormItem3>div,
.addClassFormItem4>div,
.addClassFormItem4>label {
    margin-right: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

.submitClassButton,
.cancelClassButton{
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 400;
    font-size: 14px;
    margin: 10px;
    cursor: pointer;
}

.submitClassButton {
    background-color: #195E8E;
}

.cancelClassButton {
    background-color: rgb(161, 20, 20);
}