* {
    margin: 0;
    padding: 0;
}

.banner_container {
    background-image: url("../../public/img/banner_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

/* ------------------------------ */

.banner_cont {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

/* ------------------------------ */

.text_iconBox {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iconBox {
    margin-top: 13rem;
    width: 100%;
    display: flex;
}

.iconBox>button {
    border: none;
    background-color: white;
    margin-left: 1rem;
    color: gray;
}

.iconBox>button:hover {
    color: #071d32;
}

.textBox>p {
    font-size: 35px;
    margin-top: 3rem;
    font-weight: 300;
}

.textBox>h1 {
    font-size: 65px;
}


/* ------------------------------ */

.imgBox {
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------------------------ */


@media (max-width: 768px) {

    .banner_cont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text_iconBox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imgBox {
        display: none;
    }

    .iconBox {
        display: none;
    }

    .textBox>p {
        font-size: 30px;
        margin-top: 3rem;
    }

    .textBox>h1 {
        font-size: 40px;
    }
}