.ClassBtn {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.classListTable {
    width: 100%;
}

.classListTable>table {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.classListTable>table>thead {
    height: 50px;
    background-color: #071d32;
    color: #f7f7f7;
    font-size: 21px;
}

.classListTable>table>tbody>tr {
    height: 50px;
    font-size: 19px;
    background-color: #f7f7f7;
}

.operatingHours_box {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.operatingHours_cont {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.operatingHours_cont>h3 {
    font-size: 25px;
    display: flex;
}

.table_box {
    width: 100%;
}


/* classFilter */
.classFilter {
    width: 25%;
    overflow-y: auto;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.classFilter>h2 {
    margin: 40px 0;
}

.facilityItemList {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

.facilityItem {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 10px;
    background-color: #8ac4d0;
}

/* content */

.class_Content {
    width: 70%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding-bottom: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.classtap {
    margin: 0 auto;
    width: 90%;
    height: 170px;
    border-radius: 30px;
    margin-top: 30px;
    position: relative;
    border: 1px solid #d7d7d7;
    display: flex;
    align-items: center;

}

.classtap>div:first-child {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    width: 65%;
    height: 95%;
    justify-content: center;
    flex-direction: column;
}

.classtap>div:first-child>div:nth-child(1),
.classtap>div:first-child>div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.classtap>div:first-child>div:nth-child(3) {
    display: flex;
    align-items: center;
}

.classtap>div:first-child>div:nth-child(1)>h4 {
    font-size: 21px;
    margin-right: 10px;
}

.classtap>div:first-child>div:nth-child(1)>p {
    color: gray;

}

.classtap>div:first-child>div:nth-child(2)>h3 {
    font-size: 25px;
}

.classtap>div:last-child {
    display: flex;
    width: 35%;
    height: 95%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.classtap>div:last-child>div {
    display: flex;
    background-color: #f4d160;
    width: 180px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}