.findPassword_background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 100vh;
    width: 100vw;
}

.findPassword_box {
    display: flex;
    width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.findPassword-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.findPassword-container>h1 {
    color: #9db6cf;
    font-size: 40px;
    padding-bottom: 20px;
    margin-bottom: 2rem;
}

.findPassword-container>form>div {
    text-align: left;
}

.findPassword-container>form>div>label {
    font-size: 15px;
    color: gray;
    display: block;
}

.findPassword-container>form>div>input {
    width: 400px;
    height: 55px;
    border: none;
    background-color: #f2f3f4;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-bottom: 20px;
}

.findPassword-container>form>button {
    width: 195px;
    height: 45px;
    background-color: #9db6cf;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 18px;
    margin-right: 5px;
    font-weight: bold;
}

.findPassword-submenu-box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.findPassword-submenu-box>div {
    height: 10%;
}

.findPassword-submenu-box>div>nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.findPassword-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {

    .findPassword_box {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .findPassword-container {
        width: 100%;
        height: 90%;
    }

    .findPassword-container>h1 {
        font-size: 28px;
    }

    .findPassword-container>form>div>input {
        max-width: 100%;
    }

    .findPassword-container>form>button {
        width: 80%;
    }

    .findPassword-submenu-box {
        width: 80%;
        height: 10%;
    }

    .findPassword-image-box {
        display: none;
    }
}