/* 서브네비게이션 */
.subnav {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.subnav ul {
    display: flex;
    align-items: center;
}

.subnav ul li {
    width: 90px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subnav ul li a {
    color: black;
    text-decoration: none;
}

/* 메인네비게이션 */
.mainnav {
    width: 90%;
    height: 70%;
    display: flex;
    margin: auto;
}

.mainnav ul {
    display: flex;
}

.mainnav ul li {
    width: 130px;
    font-size: 19px;
}

/* 로고 */

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

/* 메인 네비게이션 */
.navbox {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.listbox {
    width: 70%;
}

.listbox a,
.iconbox a {
    color: black;
}

/* 드롭다운 메뉴 */
.dropmenu {
    display: flex;
}

.listbox ul li {
    position: relative;
    height: 30px;
}

.listbox ul li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 130px;
    height: 160px;
    z-index: 10000000;
    background-color: white;
}

.listbox ul li ul li {
    font-size: 15px;
    height: 30px;
    padding-top: 15px;
}

.listbox ul li:hover ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.listbox ul li a:hover {
    color: #58a3bc;
    font-weight: bold;
}

.toggleIcon {
    display: none;
}



/* 모달  */

.searchModal-container {
    display: flex;
    justify-content: center;
}

.modal-open-btn,
.modal-close-btn {
    cursor: pointer;
}

.modal-close-btn {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    display: flex;
}

.modal-open-bt {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.searchModal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);
}

.searchModal-content {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 40%;
    padding: 20px;
    position: relative;
    z-index: 999;
}


/* 서치박스  */

.searchModal-content p {
    font-size: 30px;
}

.searchBox {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox input {
    border: none;
    width: 25rem;
    height: 4rem;
    border-bottom: 2px solid #000;
    padding: 1rem;
    outline: none;
    margin-right: 10px;
}

.sub-nav {
    display: flex;
    justify-content: center;
    background-color: white;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.sub-nav.active {
    max-height: 200px;
    opacity: 1;
}


@media (max-width: 768px) {

    .mainnav {
        flex-direction: column;
    }

    .logo h1 {
        font-size: 30px;
    }

    .searchModal-content {
        width: 90%;
    }

    .searchBox input {
        width: 100%;
    }

    .toggleIcon {
        display: block;
    }

    .listbox ul {
        flex-direction: column;
    }


    .subnav.active,
    .mainnav.active {
        display: block;
        flex-direction: column;
        max-height: 500px;
        transition: max-height 0.3s ease-in-out;
    }

}