.pwchange-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 100vh;
    width: 100vw;
}

.pwchange-box {
    display: flex;
    width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pwchange-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.pwchange-container>h1 {
    color: #9db6cf;
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

.pwchange-container>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 90px;
    border: 1px solid gainsboro;
    margin-bottom: 1rem;
}

.pwchange-container>div>p {
    margin-bottom: 10px;
}

.pwchange-container>div>p>span {
    color: #1359a0;
}

.pwchange-container>form {
    margin-top: 2rem;
}

.pwchange-container>form>div {
    text-align: left;
}

.pwchange-container>form>div>label {
    font-size: 15px;
    color: gray;
    display: block;
}

.pwchange-container>form>div>input {
    width: 400px;
    height: 55px;
    border: none;
    background-color: #f2f3f4;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.pwchange-container>form>button {
    width: 195px;
    height: 45px;
    background-color: #9db6cf;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 18px;
    margin-right: 5px;
    font-weight: bold;
}

.pwchange-submenu-box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.pwchange-submenu-box>div {
    height: 10%;
}

.pwchange-submenu-box>div>nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.pwchange-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {

    .pwchange-container {
        width: 100%;
    }

    .pwchange-container>h1 {
        font-size: 28px;
    }

    .pwchange-container>form>div>input {
        max-width: 100%;
    }

    .pwchange-container>form>button {
        width: 80%;
    }

    .pwchange-submenu-box {
        display: none;
    }
}